@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    If you need to abstract away frequently used classes 
    (like if you style every h1 the same way), then look here. 
    Try not to use this too much though.
    https://tailwindcss.com/docs/functions-and-directives#layer 
*/

.black-content {
  background: #211f1f;
  color: rgb(248, 243, 243)
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

html,body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
