/**
 * General color variables ~Eman, April 1, 2022
    - Blue and orange theme

*/

 //Current Colors
//  $background-color: rgba(34, 34, 34, 0.85);
//  $base-color: #c6538c;
//  $border-dark: rgba($base-color, 0.88);
//  $component-background-color: #001f3f;
//  $button-color: #0f477e;
//  $button-color-hover: #0067c2;
//  $input-border-color: #f1a52b;

//  //Misc. styling
//  $default-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);

 $background-color: rgba(0, 0, 0, 0.85);
 $base-color: #000000;
 $border-dark: rgba($base-color, 0.88);
 $component-background-color: #000000;
 $button-color: #000000;
 $button-color-hover: #000000;
 $input-border-color: #030302;

 //Misc. styling
 $default-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
/**
 * General configs
 */
 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
}
button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}
input {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type='submit'] {
  cursor: pointer;
}

.RootContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.globalFeedContainer {
  
}
.localFeedContainer {

}