@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Zen+Kaku+Gothic+Antique:wght@400;500&display=swap');

.textFont {
  font-family: 'Mulish', sans-serif;
  // font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 1rem;
}

.emanBg {
  background-color:rgba(34, 34, 34, 0.863);
  padding: 10px;
  color: antiquewhite;
}
