/* Styling for profile page ~ Miguel Seruntine

*/

$button-color: #0f477e;
$button-color-hover: #0067c2;

fieldset {
  border: 0;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}


input {
  height: 40;
  margin: 12;
  borderWidth: 1;
  padding: 10;
}

.followButton {
  color: black;
}
.headerContainer {

}